---
const rssURL = new URL('rss.xml', Astro.site);
---

<footer>
	&copy; Jakub Fiala 2024 &mdash; <a href={rssURL}>RSS</a> &mdash; <a href="https://fiala.space">About</a> &mdash; <a href="https://assemblag.es/@jakub">Mastodon</a> &mdash; <a href="mailto:studio@fiala.space">Contact</a> &mdash; <a href="/impressum.html" lang="de">Impressum</a> &mdash; <a href="/datenschutzerklaerung.html" lang="de">Datenschutzerklärung</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
